.index {
    background: url($bg-main) repeat 0 0;
    height: 100%;
    width: 100%;
    animation:6s linear 0s normal none infinite movebackground;
    -webkit-animation:6s linear 0s normal none infinite movebackground;
    -moz-animation:6s linear 0s normal none infinite movebackground;
    -o-animation:6s linear 0s normal none infinite movebackground;
    font-weight: 600;
    text-align: center;
    color:$whitebone;
    min-height: 587px;
    h2{
        font-size: 2.7em;
        &:before {
            content:'[';
        }
        &:after {
            content:']';
        }
        &:after, &:before {
            color:#16a085;
            font-size:1.4em;
            animation:2s linear 0s normal none infinite opacity;
            -webkit-animation:2s ease-out 0s normal none infinite opacity;
            -moz-animation:2s ease-out 0s normal none infinite opacity;
            -o-animation:2s ease-out 0s normal none infinite opacity;
        }
    }
    img {
        animation:6s linear 0s normal none infinite change;
        -webkit-animation:6s linear 0s normal none infinite change;
        -moz-animation:6s linear 0s normal none infinite change;
        -o-animation:6s linear 0s normal none infinite change;
    }
}
.visible {
    float:left;
    font-weight:600;
    overflow:hidden;
    height:40px;
}
@-webkit-keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
}
@keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
}
@-webkit-keyframes change {
    0%   {margin-top:80px;}
    15%  {margin-top:80px;}
    25%  {margin-top:40px;}
    40%  {margin-top:40px;}
    50%  {margin-top:10px;}
    65%  {margin-top:40px;}
    75%  {margin-top:40px;}
    85%  {margin-top:80px;}
    100% {margin-top:80px;}
}
@keyframes change {
    0%   {margin-top:80px;}
    15%  {margin-top:80px;}
    25%  {margin-top:40px;}
    40%  {margin-top:40px;}
    50%  {margin-top:10px;}
    65%  {margin-top:40px;}
    75%  {margin-top:40px;}
    85%  {margin-top:80px;}
    100% {margin-top:80px;}
}
@-webkit-keyframes movebackground {
    0%   {background-position: 0px;}
    15%  {background-position: 100px;}
    25%  {background-position: 200px;}
    40%  {background-position: 300px;}
    50%  {background-position: 400px;}
    65%  {background-position: 500px;}
    75%  {background-position: 600px;}
    85%  {background-position: 700px;}
    100% {background-position: 800px;}
}
@keyframes movebackground {
    0%   {background-position: 0px;}
    15%  {background-position: 100px;}
    25%  {background-position: 200px;}
    40%  {background-position: 300px;}
    50%  {background-position: 400px;}
    65%  {background-position: 500px;}
    75%  {background-position: 600px;}
    85%  {background-position: 700px;}
    100% {background-position: 800px;}
}
@media #{$medium} {
    .bs-docs-header {
        background: $strong-blue;
    }
}